__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.egg-info/
build/
dist/

# Local environments
.env
.env.*
.venv/
venv/
.python-version

# IDE
.vscode/
.idea/

# Notebook caches
.ipynb_checkpoints/